/*! Uniform CSS v0.9.0 | MIT License | github.com/ThinkUniform/uniformcss */
.p-1 {
  padding: 0.0625rem !important;
}

.p-2 {
  padding: 0.125rem !important;
}

.p-4 {
  padding: 0.25rem !important;
}

.p-6 {
  padding: 0.375rem !important;
}

.p-8 {
  padding: 0.5rem !important;
}

.p-10 {
  padding: 0.625rem !important;
}

.p-12 {
  padding: 0.75rem !important;
}

.p-14 {
  padding: 0.875rem !important;
}

.p-16 {
  padding: 1rem !important;
}

.p-18 {
  padding: 1.125rem !important;
}

.p-20 {
  padding: 1.25rem !important;
}

.p-24 {
  padding: 1.5rem !important;
}

.p-28 {
  padding: 1.75rem !important;
}

.p-32 {
  padding: 2rem !important;
}

.p-36 {
  padding: 2.25rem !important;
}

.p-40 {
  padding: 2.5rem !important;
}

.p-48 {
  padding: 3rem !important;
}

.p-56 {
  padding: 3.5rem !important;
}

.p-64 {
  padding: 4rem !important;
}

.p-72 {
  padding: 4.5rem !important;
}

.p-80 {
  padding: 5rem !important;
}

.p-96 {
  padding: 6rem !important;
}

.p-112 {
  padding: 7rem !important;
}

.p-128 {
  padding: 8rem !important;
}

.p-144 {
  padding: 9rem !important;
}

.p-160 {
  padding: 10rem !important;
}

.p-192 {
  padding: 12rem !important;
}

.p-224 {
  padding: 14rem !important;
}

.p-256 {
  padding: 16rem !important;
}

.p-288 {
  padding: 18rem !important;
}

.p-320 {
  padding: 20rem !important;
}

.p-384 {
  padding: 24rem !important;
}

.p-0 {
  padding: 0 !important;
}

@media (min-width: 768px) {
  .sm\.p-1 {
    padding: 0.0625rem !important;
  }

  .sm\.p-2 {
    padding: 0.125rem !important;
  }

  .sm\.p-4 {
    padding: 0.25rem !important;
  }

  .sm\.p-6 {
    padding: 0.375rem !important;
  }

  .sm\.p-8 {
    padding: 0.5rem !important;
  }

  .sm\.p-10 {
    padding: 0.625rem !important;
  }

  .sm\.p-12 {
    padding: 0.75rem !important;
  }

  .sm\.p-14 {
    padding: 0.875rem !important;
  }

  .sm\.p-16 {
    padding: 1rem !important;
  }

  .sm\.p-18 {
    padding: 1.125rem !important;
  }

  .sm\.p-20 {
    padding: 1.25rem !important;
  }

  .sm\.p-24 {
    padding: 1.5rem !important;
  }

  .sm\.p-28 {
    padding: 1.75rem !important;
  }

  .sm\.p-32 {
    padding: 2rem !important;
  }

  .sm\.p-36 {
    padding: 2.25rem !important;
  }

  .sm\.p-40 {
    padding: 2.5rem !important;
  }

  .sm\.p-48 {
    padding: 3rem !important;
  }

  .sm\.p-56 {
    padding: 3.5rem !important;
  }

  .sm\.p-64 {
    padding: 4rem !important;
  }

  .sm\.p-72 {
    padding: 4.5rem !important;
  }

  .sm\.p-80 {
    padding: 5rem !important;
  }

  .sm\.p-96 {
    padding: 6rem !important;
  }

  .sm\.p-112 {
    padding: 7rem !important;
  }

  .sm\.p-128 {
    padding: 8rem !important;
  }

  .sm\.p-144 {
    padding: 9rem !important;
  }

  .sm\.p-160 {
    padding: 10rem !important;
  }

  .sm\.p-192 {
    padding: 12rem !important;
  }

  .sm\.p-224 {
    padding: 14rem !important;
  }

  .sm\.p-256 {
    padding: 16rem !important;
  }

  .sm\.p-288 {
    padding: 18rem !important;
  }

  .sm\.p-320 {
    padding: 20rem !important;
  }

  .sm\.p-384 {
    padding: 24rem !important;
  }

  .sm\.p-0 {
    padding: 0 !important;
  }
}
@media (min-width: 1024px) {
  .md\.p-1 {
    padding: 0.0625rem !important;
  }

  .md\.p-2 {
    padding: 0.125rem !important;
  }

  .md\.p-4 {
    padding: 0.25rem !important;
  }

  .md\.p-6 {
    padding: 0.375rem !important;
  }

  .md\.p-8 {
    padding: 0.5rem !important;
  }

  .md\.p-10 {
    padding: 0.625rem !important;
  }

  .md\.p-12 {
    padding: 0.75rem !important;
  }

  .md\.p-14 {
    padding: 0.875rem !important;
  }

  .md\.p-16 {
    padding: 1rem !important;
  }

  .md\.p-18 {
    padding: 1.125rem !important;
  }

  .md\.p-20 {
    padding: 1.25rem !important;
  }

  .md\.p-24 {
    padding: 1.5rem !important;
  }

  .md\.p-28 {
    padding: 1.75rem !important;
  }

  .md\.p-32 {
    padding: 2rem !important;
  }

  .md\.p-36 {
    padding: 2.25rem !important;
  }

  .md\.p-40 {
    padding: 2.5rem !important;
  }

  .md\.p-48 {
    padding: 3rem !important;
  }

  .md\.p-56 {
    padding: 3.5rem !important;
  }

  .md\.p-64 {
    padding: 4rem !important;
  }

  .md\.p-72 {
    padding: 4.5rem !important;
  }

  .md\.p-80 {
    padding: 5rem !important;
  }

  .md\.p-96 {
    padding: 6rem !important;
  }

  .md\.p-112 {
    padding: 7rem !important;
  }

  .md\.p-128 {
    padding: 8rem !important;
  }

  .md\.p-144 {
    padding: 9rem !important;
  }

  .md\.p-160 {
    padding: 10rem !important;
  }

  .md\.p-192 {
    padding: 12rem !important;
  }

  .md\.p-224 {
    padding: 14rem !important;
  }

  .md\.p-256 {
    padding: 16rem !important;
  }

  .md\.p-288 {
    padding: 18rem !important;
  }

  .md\.p-320 {
    padding: 20rem !important;
  }

  .md\.p-384 {
    padding: 24rem !important;
  }

  .md\.p-0 {
    padding: 0 !important;
  }
}
@media (min-width: 1280px) {
  .lg\.p-1 {
    padding: 0.0625rem !important;
  }

  .lg\.p-2 {
    padding: 0.125rem !important;
  }

  .lg\.p-4 {
    padding: 0.25rem !important;
  }

  .lg\.p-6 {
    padding: 0.375rem !important;
  }

  .lg\.p-8 {
    padding: 0.5rem !important;
  }

  .lg\.p-10 {
    padding: 0.625rem !important;
  }

  .lg\.p-12 {
    padding: 0.75rem !important;
  }

  .lg\.p-14 {
    padding: 0.875rem !important;
  }

  .lg\.p-16 {
    padding: 1rem !important;
  }

  .lg\.p-18 {
    padding: 1.125rem !important;
  }

  .lg\.p-20 {
    padding: 1.25rem !important;
  }

  .lg\.p-24 {
    padding: 1.5rem !important;
  }

  .lg\.p-28 {
    padding: 1.75rem !important;
  }

  .lg\.p-32 {
    padding: 2rem !important;
  }

  .lg\.p-36 {
    padding: 2.25rem !important;
  }

  .lg\.p-40 {
    padding: 2.5rem !important;
  }

  .lg\.p-48 {
    padding: 3rem !important;
  }

  .lg\.p-56 {
    padding: 3.5rem !important;
  }

  .lg\.p-64 {
    padding: 4rem !important;
  }

  .lg\.p-72 {
    padding: 4.5rem !important;
  }

  .lg\.p-80 {
    padding: 5rem !important;
  }

  .lg\.p-96 {
    padding: 6rem !important;
  }

  .lg\.p-112 {
    padding: 7rem !important;
  }

  .lg\.p-128 {
    padding: 8rem !important;
  }

  .lg\.p-144 {
    padding: 9rem !important;
  }

  .lg\.p-160 {
    padding: 10rem !important;
  }

  .lg\.p-192 {
    padding: 12rem !important;
  }

  .lg\.p-224 {
    padding: 14rem !important;
  }

  .lg\.p-256 {
    padding: 16rem !important;
  }

  .lg\.p-288 {
    padding: 18rem !important;
  }

  .lg\.p-320 {
    padding: 20rem !important;
  }

  .lg\.p-384 {
    padding: 24rem !important;
  }

  .lg\.p-0 {
    padding: 0 !important;
  }
}
