---
layout: layouts/base.njk
---

{% include "partials/notice.njk" %}

{% include "partials/nav.njk" %}

<main class="px-14 sm.px-32">
  <div class="max-w-1280 mx-auto">
  
    <div class="flex flex-col sm.flex-row">
      <aside class="sm.w-256 flex-none">
        {% include "partials/sidebar-api-reference.njk" %}
      </aside>

      <section class="docsearch-content overflow-auto flex-1 mt-48 mb-112 sm.pl-32">
        <h1 class="text-5xl bold tracking-tight mb-10">
          {{ title | safe }}
        </h1>
        <p class="text-xl medium color-gray-600 tracking-tight mb-56">
          {{ description | safe }}
        </p>
        <hr class="border-t-4 border-dotted border-gray-100">
        
        {%- for propertyKey, propertyValue in properties -%}
          {%- for key in propertyValue -%}
            <article>
              <header class="mb-20">
                <div class="markdown">
                  <h2 id="{{ key.name | slug }}" class="flex align-items-end mb-20 pt-64 text-2xl bold tracking-tight">
                    {{ key.name }}&nbsp;<a href="#{{ key.name | slug }}" class="direct-link"></a>
                  </h2>
                </div>

                <div class="radius-lg overflow-hidden">
<pre class="language-scss"><code class="language-scss"><span class="token property">responsive</span><span class="token punctuation">: </span>{%- if key.responsive -%}<span class="token boolean">true</span>{%- else -%}<span class="token boolean">false</span>{%- endif -%}<span class="token punctuation">,</span> <span class="token property">pseudos</span><span class="token punctuation">:</span> <span class="token punctuation">(</span>{{ key.pseudos }}<span class="token punctuation">)</span></code></pre>
                </div>
              </header>

              
              
              <div class="max-h-320 overflow-auto border-1 border-gray-200">
                <table class="w-100p">
                  <tbody>
                    {%- for utility in key.utilities -%}
                      <tr class="border-b-1 border-gray-200 last.border-b-0">
                        <td class="w-4-12 text-sm color-indigo-500 select-all border-r-1 border-gray-200 align-top pr-40 px-20 py-8">
                          <code class="space-nowrap">{{utility.class}} <span class="opacity-30">{{ key.extraSelector }}</span></code>
                        </td>
                        <td class="text-sm color-gray-700 align-top px-20 py-8">
                          <pre class="overflow-auto">
                          {%- for item in key.staticProperties -%}
                            <code class="opacity-50">{{ item }}</code><br>
                          {%- endfor -%}
                          {%- for item in utility.properties -%}
                            <code>{{ item }}</code><br>
                          {%- endfor -%}
                          </pre>
                        </td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>

              
              
            </article>
          {%- endfor -%}
        {%- endfor -%}

      </section>

      


    </div>
  </div>
</main>

















