---
layout: layouts/base.njk
---

{% include "partials/notice.njk" %}

{% include "partials/nav.njk" %}

<main class="px-14 sm.px-32">
  <div class="max-w-1280 mx-auto">
  
    <div class="flex flex-col sm.flex-row">
      <aside class="sm.w-256 flex-none">
        {% include "partials/sidebar-docs.njk" %}
      </aside>

      

      <section class="docsearch-content overflow-auto flex-1 mt-48 mb-112 sm.px-32">
        <h1 class="text-5xl bold tracking-tight mb-10">
          {{ title | safe }}
        </h1>
        <p class="text-xl medium color-gray-600 tracking-tight mb-56">
          {{ description | safe }}
        </p>
        <hr class="border-t-4 border-dotted border-gray-100 mb-56">
        <article class="markdown color-black">
          {{ content | safe }}
        </article>
      </section>



      <div class="relative hidden lg.block w-288 pl-48 flex-none">
        <div class="sticky flex justify-content-end top-72 h-100vh py-48 overflow-auto">
          <div class="w-100p">
            
            <div class="pb-64">
              <h6 class="text-sm semibold mb-16">
                On this page
              </h6>
              {{ content | toc | safe }}
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</main>